
body{
  background-color: #AEC3B0;
}
.progressbar{
  margin: 0 auto;
  cursor: pointer;
  width: 800px;
  background-color: #EFF6E0;
  height: 20px;
  border-radius: 4px;
}

.progresstrack{
  
  background-color: #22333B;
  height: 20px;
  border-radius: 4px;
}

.volumebar{
  margin: 0 auto;
  cursor: pointer;
  margin-top: 10px;
  width: 200px;
  background-color: #EFF6E0;
  height: 15px;
  border-radius: 4px;
}

.volumebartrack{
  height: 15px;
  background-color: #22333B;
  border-radius: 4px;
}

.media_controls{
  margin: 0 auto;
  width: 700px;
  display: flex;
  justify-content: space-around;
  padding: .5rem 0;
}

.play_button{
  font-size: 40px;
  cursor: pointer;
  color: #22333B;
}

.toggle{
  font-size: 25px;
  cursor: pointer;
  color: #22333B;
  width: 100px;
}

.music_listing{
  margin: 0 auto;
  width: 500px;
}

.song_listing{
  width: 500px;
  text-align: center;
  font-size: 25px;
  padding: .5rem .5rem;
  margin: .5rem 0;
  border: 2px solid #22333B;
}

.song_listing:hover{
  background-color: #22333B;
  color: #AEC3B0;
  transition-duration: 250ms;
  cursor: pointer;
}